<div class="noprint">
    <header class="text-3xl">Daylio PDF exporter</header>
    <p-button *ngIf="showHelp === false" label="Show help" (onClick)="onHelpToggle()"></p-button>
    <p-button *ngIf="showHelp === true" label="Hide help" (onClick)="onHelpToggle()"></p-button>
    <div *ngIf="showHelp">
        <p>I was not satisfied with Daylio paid pdf export feature so I've made my own.</p>
        <header class="text-xl">How to use</header>
        <ol>
            <li>
                <p>Download your Daylio backup file from your app :</p>
                <ul>
                    <li>
                        <a target="_blank" href="https://faq.daylio.net/article/84-how-to-transfer-backup-between-platforms#android-export">From the Android app</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://faq.daylio.net/article/84-how-to-transfer-backup-between-platforms#ios-export">From iOS app</a>
                    </li>
                </ul>
            </li>
            <li>
                <p>Load your Daylio backup file to this webpage using below buttons. If for some reason you uploading the wrong file, refresh this page. Do note the following</p>
                <ul>
                    <li>This tool respects your privacy. <span class="font-bold">Your file will always remain on your device, and will NEVER be uploaded ANYWHERE on the internet!</span> It will only be loaded locally in your browser's memory, and deleted as soon as you close this webpage.</li>
                    <li>This was tested with a 300 entries big journal. It may crash if you try to load a very big journal while using a toaster PC. If it does, it means you need more RAM.</li>
                    <li>Loading can take a few seconds, or minutes, depending on your journal size and your device.</li>
                    <li>This cannot dammage your file, it's only reading it.</li>
                </ul>
            </li>
            <li>
                <p>Click the following button to export what you see to PDF (without this text of course)</p>
                <p>Do take the time to adjust print settings as layout may vary depending on your system</p>
                <header>Recommended printing settings</header>
                <ul>
                    <li>no margins</li>
                    <li>50% scale</li>
                    <li>keep background graphics</li>
                </ul>
            </li>
            <li>Once you're cool with your print settings, Choose how many entries you would like to export. They're grouped by day, and ordered chronologically.</li>
            <li>Hit export button again.</li>
            <li>Remember to delete your Daylio backup file, or store it in a safe place once you're done.</li>
            <li>I hope this was helpful. If you like this tool, feel free to reach out <a target="_blank" href="https://bsky.app/profile/mitune-e.social">&#64;mitune-e.social</a></li>
        </ol>
    </div>
    <div class="flex gap-8 mt-3">
        <p-fileUpload #fileUpload mode="basic" chooseLabel="Select .daylio file" (onSelect)="onFileSelect($event)"></p-fileUpload>
        <div class="flex gap-2 align-items-center">
            <div>Showing</div>
            <p-inputNumber
                [(ngModel)]="showedEntriesCount"
                [size]="1"
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="horizontal"
                spinnerMode="horizontal"
                [step]="5"
                [min]="0"
                [max]="entriesByDate.length"
                [disabled]="entriesByDate.length === 0"
            ></p-inputNumber>
            <div>entries of {{entriesByDate.length}}</div>
            <p-button label="Show all Entries" (onClick)="onShowAll()" [disabled]="entriesByDate.length === 0"></p-button>
        </div>
        <p-button label="Export to PDF" (onClick)="onExport()" [disabled]="entriesByDate.length === 0"></p-button>
    </div>
</div>

<!-- dairy container -->
<div class="flex flex-column">
    <!-- day container -->
    <div *ngFor="let date of entriesByDate.slice(0, showedEntriesCount); let i = index" class="dayEntry flex flex-column align-items-center my-5 mx-3 gap-3 px-5">
        <!-- date -->
        <header class="zen-maru-gothic-regular inline bg-main text-3xl font-bold" style="width:max-content">{{ date.prettyDate }}</header>
        <!-- entries container -->
        <div class="flex flex-wrap gap-3 align-self-stretch">
            <div class="flex gap-2" *ngFor="let entry of date.entries" [style]="'width:100%'">
                <!-- left col -->
                <div class="flex flex-column align-items-center gap-2">
                    <div class="ud-digi-kyokasho-nk-b-regular text-lg pt-2" [style]="{color: getMoodColor(1)}">{{entry.hour.toString().padStart(2, '0')}}:{{entry.minute.toString().padStart(2, '0')}}</div>
                    <div class="flex flex-column align-items-center gap-1">
                        <img [src]="daylioMoodsMapped[entry.mood].src" style="width:48px;" />
                        <div class="pompiere-regular text-xl" [style]="{color: getMoodColor(entry.mood)}">{{daylioMoodsMapped[entry.mood].title}}</div>
                    </div>
                </div>
                <!-- right col -->
                <div class="flex flex-column flex-grow-1 gap-1" style="width:1px;">
                    <!-- tags row -->
                    <div *ngIf="entry.tags.length > 0" class="flex align-items-center surface-100 gap-1 px-2 py-1" style="width:max-content">
                    <ng-container *ngFor="let tag of entry.tags; let i = index">
                        <div class="zen-maru-gothic-regular font-bold">{{ daylioTagsMapped[tag].title }}</div>
                        <div *ngIf="i < entry.tags.length - 1" style="width:4px; height:4px; background-color:grey;"></div>
                    </ng-container>
                    </div>
                    <!-- entry description row -->
                    <div class="flex flex-column align-items-stretch">
                        <div class="zen-maru-gothic-regular text-lg font-bold">{{ entry.note_title }}</div>
                        <div class="zen-maru-gothic-regular" [innerHTML]="entry.note"></div>
                    </div>
                    <!-- assets row -->
                    <div class="flex flex-wrap gap-1">
                        <img *ngFor="let asset of entry.assets" style="border-radius:40px; height:300px;" [src]="daylioAssetsMapped[asset]">
                    </div>
                </div> <!-- end right col -->
            </div>
        </div>
        <!-- entry footer -->
        <div class="bg-main flex justify-content-end px-5 py-2 text-white" style="width:100%">
            <!-- page number -->
            <div class="zen-maru-gothic-regular text-xl font-bold">{{i+1}}</div>
        </div>
    </div>
</div>