@font-face {
    font-family: 'UD Digi Kyokasho NK-B';
    src: url('/src/assets/fonts/UDDigiKyokashoN-B.ttc') format('truetype');
}

html,body{
    font-size:16px;
}

.pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}
.ud-digi-kyokasho-nk-b-regular{
    font-family: "UD Digi Kyokasho NK-B", serif;
    font-weight: 400;
    font-style: normal;
}

.bg-main{
    background-color: #F7DFEA;
}